.notification,#h1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1cbcb;
  padding: 10px;
  color: blue;
}

.notification-count {
  font-weight: bold;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #f1cbcb ;
}

.notification-text {
  color: #721c24;
  margin-top: 10px;
}

.media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: aliceblue;
}

.media-container img,
.media-container video {
  margin: 10px;
  display:flex;
  width: 50%;
  height: 20%;
  cursor: pointer;
}
