.payments-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
  }
  
  .payments-container h2 {
    text-align: center; 
    margin-bottom: 20px;
    color: #333;
  }
  
  .course-details {
    text-align: center;
  }
  
  .course-details img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .course-details h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .course-details p {
    margin: 5px 0;
    color: #666;
    font-family:'Times New Roman', Times, serif;
  }
  .payments-container button{
    width: 100px;
    height: 40px;
    padding-bottom: 60px;
  }
  