.plan {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
    width:100%;
    background-color: rgb(238, 221, 153);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    height: 300px;
  }
  
  .plan h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  .plan ul {
    list-style: none;
    padding: 0;
  }
  
  .plan li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .plan button{
    background-color: blue;
    color: white;
  }
  .plan button:active{
    background-color: rgb(29, 207, 62);
  }