*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
  border-radius: 12px;
  height: auto;
  width: 50%;
  padding-bottom: 30px;
}
.profile button{
  background-color: rgb(39, 213, 109);
  color: azure;
  margin: 10px;
}