
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #2f2fe8;
}

.link {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: #040505;
  border-radius: 100px;
}

.link:active {
  background-color: #777;
}
